input{
    width: 50px;
}
button{
    margin-top: 1rem;
}
#numberB{
    background-color: #38393a;
    color:white;
}
#ranbomB{
    background-color: lightpink;
}
#plusB{
    background-color: darkgrey;
    color: white;
}
.divCopy{
    margin: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    position:relative;
}